h1{
   text-align: center;
   color: yellow;
}
p{
    text-align: center;
  color: azure;  
}
span{
    color: green;
}
span{
    color: green;
}
body{
    background-color: blue;
}
img{
    border: 4px solid yellow;
}
table{
    border-collapse: collapse;
    color: white;
    width: 1500px;
}
